/* Variables */
:root {
    --font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Fira Sans","Droid Sans","Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    --bg-color: #1b2a36;
    --text-color: #e7eef2;
}

/* Reset a little */
html {
    box-sizing: border-box;
    font-size: 100%;
}

*, *:before, *:after {
    box-sizing: inherit;
}

html, body {
    height: 100%;
    width: 100%;
    margin: 0;
}

/* Layout */
body {
    font-family: var(--font-family);
    background-color: var(--bg-color);
    color: var(--text-color);

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

header, main, footer {
    padding: 1rem;
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}

main {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

footer{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}

.row{
    margin: 1rem 0;
}

/* bookmarks */
#bm-container{
    flex-grow: 1;
    width: 100%;
}

#bm-list {
    max-width: 1200px;
    margin: 0 auto;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    gap: 1em;
}

.bm-item {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    padding: .5em;
    border: 2px solid var(--text-color);
    border-radius: 10px;
    text-decoration: none;
    cursor: pointer;
}

.bm-item:hover{
    background-color: #4f7b9f;
}

.bm-icon {
    margin: .25em;
    padding: 0 .25em;
    text-align: center;
    font-size: 2em;
}

.bm-text {
    flex-grow: 1;
}

.bm-title {
    font-weight: bold;;
}

.bm-address {
    font-size: 90%;
    text-transform: lowercase;
}



a, a:visited {
    color: var(--text-color);
}


/* bm form */
#bm-form {
    display: flex;
    flex-flow: row wrap;
    justify-content:start;
}

#bm-form > div {
    padding: 0 .25rem;
}